.container {
  width: 400px;
  margin: 0 auto;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.signup-btn {
  width: 100%;
  flex-grow: 1;
}
.signup-btn:hover:enabled {
  color: #fff;
  background-color: #f50057;
  border: 1px solid #f50057;
}
.header {
  text-align: center;
  background: #212121;
  color: #fff;
  padding: 1rem;
}
.header h3 {
  flex: 1 1 auto;
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.card {
  margin-top: 1rem;
  padding: 0;
  border-radius: 0.25rem;
}
.card-content {
  padding: 1rem;
}
.helper-text {
  margin: 0.5rem 0 0 0;
  color: #f44336;
  width: 100%;
}
.input-form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 1rem;
}
input {
  padding: 6px 0 7px 8px;
}
.button-root {
  margin-top: 1rem;
  padding: 0.5rem;
}
